// Colors
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-dark-1: #cccccc;
$color-grey-dark-2: #333;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;
$color-green:  #37a537;

$gardient-green: linear-gradient(
  to right,
  $primary-color-light,
  $primary-color-dark
);
$background-gradient: linear-gradient(
  to right bottom,
  rgba($primary-color-light, 0.8),
  rgba($primary-color-dark, 0.8)
);

// Font size
$default-font-size: 1.6rem;
$medium-font-size: 2rem;
$large-font-size: 4rem;
$Xlarge-font-size: 6rem;
$XXlarge-font-size: 8rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizoatl: 6rem;
