.collage {
  position: relative;

  &__pic {
    position: absolute;
    width: 55%;
    box-shadow: 0 1rem 5rem rgba($color-black, 0.8);
    filter: grayscale(0.5);
    outline-offset: 1.5rem;
    transition: all 0.3s ease-in-out;

    &--pic1 {
      left: 1%;
      top: -1rem;
      @include response(phone) {
        top: 3rem;
      }
    }
    &--pic2 {
      left: 45%;
      bottom: -24rem;
      @include response(phone) {
        bottom: -23.5rem;
      }
    }
    &--pic3 {
      left: 22%;
      top: 10rem;
    }
    &:hover {
      z-index: 5;
      transform: scale(1.3) translateY(-0.5rem);
      outline: 1.5rem solid $primary-color-dark;
      filter: grayscale(0);
    }
  }
  &:hover > *:not(:hover) {
    transform: scale(0.9);
  }
}
